body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #5F6F65;
}

.container {
    background: #C9DABF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
}

.group {
    margin: 10px 0px;
}

input {
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #708871;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #059212;
}

#result {
    margin-top: 20px;
    font-size: 21px;
}
